[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
ipython = "*"
black = "==19.3b0"
coveralls = "*"

[packages]
ariadne = "<=0.6.0"

[requires]
python_version = "3.7"
